# Игнорируем локальные базы данных Grafana
grafana.db
grafana.sqlite

# Игнорируем логи и временные файлы
*.log
data/

# Игнорируем кастомные плагины, скачанные локально
plugins/

# Игнорируем измененные файлы основных конфигураций, содержащие пароли
# (Оставляем только шаблон grafana.ini, если нужно)
grafana.ini
